.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #1e1e1e;    /* nền xám đen */
  color: #aaa;         /* chữ xanh lá Minecraft */
  font-size: 13px;
  font-family: "Arial", sans-serif;
  padding: 12px 0;

  /* Viền 2 lớp */
  border-top: 3px solid #555;
  box-shadow: 0 -3px 0 #000;
}

.copyright a {
  color: #55ff55;     /* xanh lá Minecraft */
  text-decoration: none;  /* bỏ gạch dưới */
  font-weight: bold;
}